<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499087295553-2hr347f2rr0p9eafk4lug3nir0q2hbqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499087295553-2hr347f2rr0p9eafk4lug3nir0q2hbqp</string>
	<key>API_KEY</key>
	<string>AIzaSyC5-PqFpuAjWqTJk0cSsE3gLDV0NFmhqpY</string>
	<key>GCM_SENDER_ID</key>
	<string>499087295553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.OnTheLine</string>
	<key>PROJECT_ID</key>
	<string>kconrad-ontheline</string>
	<key>STORAGE_BUCKET</key>
	<string>kconrad-ontheline.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499087295553:ios:41e0089a964cd235</string>
	<key>DATABASE_URL</key>
	<string>https://kconrad-ontheline.firebaseio.com</string>
</dict>
</plist>